NUM a
NUM b
NUM c
NUM d
NUM e
SET a,6
SET b,3
SET c,7
SET d,2
NUM temp0
SET temp0,a
MUL temp0,b
NUM temp1
SET temp1,c
DIV temp1,d
NUM temp2
SET temp2,temp1
SUB temp2,b
NUM temp3
SET temp3,temp0
ADD temp3,temp2
SET e,temp3
OUT e
